

    <!DOCTYPE html>
    <body class="bg-white h-screen">


    {% include "base.html.twig" %}

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=rose&shade=600" alt="Your Company">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Join RealCo now for free</h2>
        </div>

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="p-3 border-red-400 text-red-400 text-sm font-medium" role="alert">{{ flash_error }}</div>
        {% endfor %}
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        {% for message in app.flashes %}
            <div class="p-3 border-green-400 ">
                {{ message }}
            </div>
        {% endfor %}

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" action="#" method="POST">
                {{ form_start(registrationForm) }}
                <div class="flex flex-row justify-between">
                    <div>
                        <label for="firstname" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                        <div class="mt-2">
                            {{ form_widget(registrationForm.firstname, {'attr': {'class': 'px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rose-600 sm:text-sm sm:leading-6'}}) }}
                        </div>
                        <div class="text-rose-500 w-full text-sm font-medium leading-6 pt-1">                    {{ form_errors(registrationForm.firstname) }}</div>
                    </div>
                    <div>
                        <label for="lastname" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                        <div class="mt-2">
                            {{ form_widget(registrationForm.lastname, {'attr': {'class': 'px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rose-600 sm:text-sm sm:leading-6'}}) }}
                        </div>
                        <div class="text-rose-500 w-full text-sm font-medium leading-6 pt-1">                    {{ form_errors(registrationForm.lastname) }}</div>
                    </div>
                </div>
                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                    <div class="mt-2">
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rose-600 sm:text-sm sm:leading-6'}}) }}
                    </div>
                    <div class="text-rose-500 w-full text-sm font-medium leading-6 pt-1">                    {{ form_errors(registrationForm.email) }}</div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"  >
                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    </div>
                    <div class="mt-2">
                        {{ form_widget(registrationForm.password, {'attr': {'class': 'px-3  password block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rose-600 sm:text-sm sm:leading-6'}}) }}
                    </div>
                    <div class="text-rose-500 w-full text-sm font-medium leading-6 pt-1">                    {{ form_errors(registrationForm.password) }}</div>
                </div>
                <div class="flex items-center">
                    <input id="_remember_me" name="_remember_me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-rose-600 focus:ring-rose-600">
                    <label for="_remember_me" class="ml-3 block text-sm font-medium leading-6 text-gray-900">I agree the <a href="/tos" class="font-semibold leading-6 text-rose-600 hover:text-rose-500">terms of services</a>.</label>
                </div>
                <div>
                    {{ form_row(registrationForm._token) }}
                    <button type="submit" class="flex w-full justify-center rounded-md bg-rose-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-rose-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </form>

            <p class="mt-10 text-center text-sm text-gray-500">
                Already a member?
                <a href="/login" class="font-semibold leading-6 text-rose-600 hover:text-rose-500">Log in here</a>
            </p>
        </div>
    </div>

    </body>
