{% set active = "New component" %}
{% include "base.html.twig" with {'active': active} %}
<body class="bg-gray-50 h-fit">
{% include "components/dashboard_layout.html.twig" with {'active': active} %}
<!-- Left part - Content  -->
<main>

    <div class="p-8">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900">New Component {{ form_errors(form) }}</h1>
    </div>
    <div class="w-full flex flex-col items-center">
        <form name="create_component" method="post" enctype="multipart/form-data" class="w-full lg:w-1/2">
            <div id="create_component">
                <div>
                    <label for="create_component_name" class="block text-sm font-medium leading-6 text-gray-900 required">Name</label>
                    <input type="text" id="create_component_name" name="create_component[name]" required="required" maxlength="255" class="mb-3 pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"/>
                </div>
                <div>
                    <label for="create_component_description" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                    <input type="text" id="create_component_description" name="create_component[description]" maxlength="255" class="mb-3 pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"/>
                </div>
                <div>
                    <label for="create_component_code" class="block text-sm font-medium leading-6 text-gray-900">Code</label>
                    <textarea  id="create_component_code" name="create_component[code]" maxlength="100000000" class="mb-3 pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"></textarea>
                </div>
                <div>
                    <label for="create_component_price" class="block text-sm font-medium leading-6 text-gray-900">Price</label>
                    <input type="number" id="create_component_price" name="create_component[price]" class="mb-3 pl-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6" />
                </div>
                <div>
                    <label for="create_component_type" class="block text-sm font-medium leading-6 text-gray-900 required">Type</label>
                    <select id="create_component_type" name="create_component[type]" class="mb-3 block w-full rounded-md border-0 py-2.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6">
                        <option value="1">React</option>
                        <option value="2">Vue</option>
                        <option value="3">Angular</option>
                    </select>
                </div>
                <div>
                    <div class="flex items-center justify-between">
                        <label for="create_component_DesignSystem" class="block text-sm font-medium leading-6 text-gray-900 required">Design system</label>
                        <div class="text-sm">
                            <button onclick="openDSModal()" class="font-semibold text-primary hover:text-primary-hover">+ Create</button>
                        </div>
                    </div>

                    <select id="create_component_DesignSystem" name="create_component[DesignSystem]" class=" mb-3 block w-full rounded-md border-0 py-2.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-primary sm:text-sm sm:leading-6">
                       {% for option in app.user.designsystems %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label class="block text-sm font-medium leading-6 text-gray-900 required">Preview Image</label>
                    <div class="vich-image">
                        <input type="file" id="create_component_imageFile_file" name="create_component[imageFile][file]" required="required" class="mb-3 block w-full text-md text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"/>
                    </div>
                </div>
                <div>
                    <button type="submit" id="create_component_submit" name="create_component[submit]" class="rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary transition ease-in-out duration-300">Submit</button>
                </div>{{ form_row(form._token) }}
            </div>
        </form>

    </div>
</main>
<script src="{{ asset('js/filters.js') }}"></script>
<script>
    const tabs = document.querySelectorAll(".tab");
    const content = document.querySelectorAll(".tab-content");

    for (let i = 0; i < tabs.length; i++) {
        tabs[i].addEventListener("click", (e) => {
            // Désactive tous les onglets
            for (let i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove("bg-primary-menubg");
                tabs[i].classList.remove("text-primary");
                tabs[i].classList.add("text-gray-500");
                tabs[i].classList.add("hover:text-gray-700");
                tabs[i].classList.remove("active");
                content[i].classList.add("hidden");
            }

            // Active l'onglet cliqué
            e.target.classList.add("bg-primary-menubg");
            e.target.classList.add("text-primary");
            tabs[i].classList.remove("text-gray-500");
            tabs[i].classList.remove("hover:text-gray-700");
            e.target.classList.add("active");
            content[i].classList.remove("hidden");
        });
    }
    const opencloseprofilemenu = () => {
        const usermenu = document.getElementById('usermenu');
        if (usermenu.className.includes('hidden')) {
            usermenu.classList.remove('hidden');
        } else {
            usermenu.classList.add('hidden');
        }
    };
    const openclosesortbymenu = () => {
        const usermenu = document.getElementById('sortbymenu');
        if (usermenu.className.includes('hidden')) {
            usermenu.classList.remove('hidden');
        } else {
            usermenu.classList.add('hidden');
        }
    };
</script>
{% include 'components/flashes.html.twig' %}
<div id="newdsmodal" class="relative z-50 hidden " aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <form name="new_design_system" method="post">
    <!--
      Background backdrop, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <!--
              Modal panel, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-primary sm:mx-0 sm:h-10 sm:w-10">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818l.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>

                        </div>
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left w-full">
                            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">New design system</h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">Choose a name for you new design system</p>
                                <div>

                                        <div id="new_design_system">
                                            <div>
                                                <label for="new_design_system_name" class="required block text-sm font-medium leading-6 text-gray-900 mt-5">Name</label>
                                                <input type="text" id="new_design_system_name" name="new_design_system[name]" required="required" maxlength="255" class="block w-full rounded-md border-0 py-1.5 pl-3 pr-12 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"/>
                                            </div>
                                            {{ form_row(formds._token) }}
                                        </div>

                                </div>

                            </div>
                        </div>
                    </div></div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="submit" id="new_design_system_submit" name="new_design_system[submit]" class="inline-flex w-full justify-center rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary-hover sm:ml-3 sm:w-auto transition ease-in-out duration-300">Create</button>
                    <button onclick="closeDSModal()"  class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
</body>
<script>
    const dsmodal = document.getElementById('newdsmodal');

    function closeDSModal() {
        dsmodal.classList.add('hidden')
    }

    function openDSModal() {
        dsmodal.classList.remove('hidden')
    }
</script>
